.App {
  background-color: #1a1919;
  color: #fff;
  width: 415px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.App-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  padding-top: 1rem;
}
